src/main/resources/soap/reportes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://innovatech.com/taskmaster/soap/reportes"
           xmlns:tns="http://innovatech.com/taskmaster/soap/reportes"
           elementFormDefault="qualified">

    <xs:element name="GenerateBoardReportRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="generadoPor" type="xs:string"/>
                <xs:element name="fechaGeneracion" type="xs:string"/>
                <xs:element name="contenido" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GenerateBoardReportResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fileName" type="xs:string"/>
                <xs:element name="contentType" type="xs:string"/>
                <xs:element name="base64Pdf" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
